#homeState-Container{
    width: inherit;
}

#collectionsList {
    list-style: none;
    overflow:hidden; overflow-y:scroll;
    height: 85vh;
}

#menu{
    width: 100px;
}

#collectionsContainer{
    width: 500px;
}